body{
  background-color:black;
  color:cyan;
  border:2px solid cyan;
  border-radius:25px;
  text-align:center;
}

.tasks{
  display:flex;
  flex:wrap;
  justify-content:space-between;
  margin:0 50px;
  padding:1px;
}
